@import 'element-plus/theme-chalk/dark/css-vars.css';

html.dark {
  --el-color-black: #cfd3dc;
  --el-color-white: #1d1e1f;
  --el-color-grey: #cfd3dc;
  --el-menu-background-color-second: #1d1e1f;
  --el-border-color-light: #414243;
  --el-menu-background-color: #1d1e1f;

  --w-e-textarea-bg-color: #1d1e1f;
  --w-e-textarea-color: #fff;
  --w-e-textarea-border-color: #1d1e1f;
  --w-e-textarea-slight-border-color: #1d1e1f;
  --w-e-textarea-slight-color: #1d1e1f;
  --w-e-textarea-slight-bg-color: #1d1e1f;
  --w-e-textarea-selected-border-color: #1d1e1f;
  --w-e-textarea-handler-bg-color: #1d1e1f;
  --w-e-toolbar-color: #fff;
  --w-e-toolbar-bg-color: #1d1e1f;
  --w-e-toolbar-active-color: #fff;
  --w-e-toolbar-active-bg-color: #1d1e1f;
  --w-e-toolbar-disabled-color: #fff;
  --w-e-toolbar-border-color: #1d1e1f;
  --w-e-modal-button-bg-color: #1d1e1f;
  --w-e-modal-button-border-color: #1d1e1f;

  body {
    color: #cfd3dc !important;
    background-color: var(--el-color-white) !important;

    .vab-nav {
      background: var(--el-color-white) !important;
    }

    [class*='-container'] {
      background: var(--el-color-white) !important;
    }

    .table {
      td {
        border: 1px solid var(--el-border-color-light) !important;
      }
    }

    .vab-column-bar-container .el-tabs .el-tabs__item {
      color: var(--el-color-black) !important;
    }

    .page-header-tip-title {
      color: var(--el-color-black) !important;
    }

    .vab-column-bar-container {
      border-right: 1px solid var(--el-border-color-light) !important;
    }

    .vab-tabs-content-card .el-tabs__header .el-tabs__item {
      border: 1px solid var(--el-border-color-light) !important;
    }

    .vab-column-bar-container .el-tabs .el-tabs__nav {
      width: 63px;
      background: var(--el-color-white) !important;
      border-right: 1px solid var(--el-border-color-light) !important;
    }

    .logo-container-column .logo {
      width: 63px !important;
      background: var(--el-color-white) !important;
      border-right: 1px solid var(--el-border-color-light) !important;
    }

    .vab-footer {
      border-top: 1px dashed var(--el-border-color-light) !important;
    }

    .notice-clear {
      border-top: 1px solid var(--el-border-color-light) !important;
    }

    .vab-side-bar {
      border-right: 1px solid var(--el-border-color) !important;
    }

    .vab-header {
      border-bottom: 1px solid var(--el-border-color) !important;

      .logo-container-horizontal {
        height: calc($base-header-height - 1px);
      }

      .vab-main .right-panel {
        [class*='ri-'],
        .username {
          color: var(--el-color-black) !important;
        }
      }
    }
  }

  /* svg */
  [fill='#fff'] {
    fill: var(--el-color-white) !important;
  }
}
