/**
 * @description vue过渡动画
 */

@mixin transition {
  &-leave-active,
  &-enter-active {
    transition: var(--el-transition);
  }
}

.fade {
  @include transition;

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}

.fade-up {
  @include transition;

  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

.fade-down {
  @include transition;

  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.fade-left {
  @include transition;

  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

.fade-right {
  @include transition;

  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

/**
 * @description 旋转动画
 */

.rotate {
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  animation: rotate 1s linear infinite;
}
