/**
 * @description 旋转动画
 */

.rotate {
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  animation: rotate 1s linear infinite;
}
