:root {
  --el-border-radius-base: #{$base-border-radius};
  --el-left-menu-width: #{$base-left-menu-width};
  --el-color-menu: #{$base-menu-background};
  --el-color-menu-second: #fff;
  --el-color-menu-text: #fff;

  --el-color-grey: #{$base-color-grey};
  --el-color-black: #{$base-color-black};

  --el-color-primary: #{$vab-color-primary};
  --el-color-primary-light-1: #{$vab-color-primary-light-1};
  --el-color-primary-light-2: #{$vab-color-primary-light-2};
  --el-color-primary-light-3: #{$vab-color-primary-light-3};
  --el-color-primary-light-4: #{$vab-color-primary-light-4};
  --el-color-primary-light-5: #{$vab-color-primary-light-5};
  --el-color-primary-light-6: #{$vab-color-primary-light-6};
  --el-color-primary-light-7: #{$vab-color-primary-light-7};
  --el-color-primary-light-8: #{$vab-color-primary-light-8};
  --el-color-primary-light-9: #{$vab-color-primary-light-9};
  --el-color-primary-dark-2: #{$vab-color-primary};

  --el-color-success: #{$vab-color-success};
  --el-color-success-light: #{$vab-color-success-light};
  --el-color-success-lighter: #{$vab-color-success-lighter};
  --el-color-success-dark-2: #{$vab-color-success};

  --el-color-warning: #{$vab-color-warning};
  --el-color-warning-light: #{$vab-color-warning-light};
  --el-color-warning-lighter: #{$vab-color-warning-lighter};
  --el-color-warning-dark-2: #{$vab-color-warning};

  --el-color-danger: #{$vab-color-danger};
  --el-color-danger-light: #{$vab-color-danger-light};
  --el-color-danger-lighter: #{$vab-color-danger-lighter};
  --el-color-danger-dark-2: #{$vab-color-danger};

  --el-color-error: #{$vab-color-error};
  --el-color-error-light: #{$vab-color-error-light};
  --el-color-error-lighter: #{$vab-color-error-lighter};
  --el-color-error-dark-2: #{$vab-color-error};

  --el-color-info: #{$vab-color-info};
  --el-color-info-light: #{$vab-color-info-light};
  --el-color-info-lighter: #{$vab-color-info-lighter};
  --el-color-info-dark-2: #{$vab-color-info};

  --el-font-size-small: #{$base-font-size-small};
  --el-font-size-default: #{$base-font-size-default};
  --el-font-size-big: #{$base-font-size-big};
  --el-font-size-bigger: #{$base-font-size-bigger};
  --el-font-size-max: #{$base-font-size-max};
}
