/library/build/unplugin/components.d.ts
node_modules
src/assets
src/icons
public
dist
*.svg
*.png
*.hbs
*.jpg
*.jpeg
*.gif
*.webp
*.ico
*.bmp
*.tiff
*.ico
*.webp
*.svg
*.zip
*.html
*.scss
*.d.ts
*.md
*.sh
*.toml
*.yaml